<table class='highlight'>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Name</th>
      <th>Position</th>
      <th>Team</th>
      <th>Position Rank</th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <%= render partial: 'player', locals: { player: player } %>
    <% end %>
  </tbody>
</table>
